<h1>Listing conversations</h1>

<table class="zebra-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<% @conversations.each do |conversation| %>
  <tr>
    <td><%= link_to conversation.messages[0].title, conversation %></td>
    <td><%= link_to conversation.messages[0].user.name, :controller=>'users', :action=>'show', :id=>conversation.messages[0].user_id %></td>
    <td><%= link_to 'Edit', edit_conversation_path(conversation) %></td>
    <td><%= link_to 'Destroy', conversation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Conversation', new_conversation_path %>
