<footer>
  <p>
    <%= link_to 'Home', '/' %> |
    <%= link_to 'Sitemap', '/' %> |
    <%= link_to 'About', '/' %> |
    <%= link_to 'Contact', '/' %>
  </p>

  <p>
    &copy;
    <%=  Time.new.year %>.
    RocketLaunch
  </p>
</footer>