<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TeaMate</title>
    <meta name="description" content="Project managment app aimed to small development teams.">
    <meta name="author" content="RocketLaunch">

    <!-- Sttyles -->
    <%= stylesheet_link_tag "bootstrap.css", "style.css"%>
      
    <!-- Scripts -->
    <%= javascript_include_tag "jquery-1.6.4.min.js", "rails.js"%> 
    <%= javascript_include_tag "jquery.tablesorter.min.js", "easing.js", "jquery.bbcodeeditor-1.0.js" %>
    <%= javascript_include_tag "bs/bootstrap-tabs.js" %>
    <%= javascript_include_tag "scripts.js" %> 
    
    
    <!-- E6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <%= javascript_include_tag "ie.js"%> 
    <![endif]-->
    
    <!-- Fv and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>
<body>
    
    <%= render 'layouts/header' %>

    <div class="container">
        <div class="content">
            <%= yield %>
        </div>

        <%= render 'layouts/footer' %>

    </div> <!-- /container -->

  </body>
</html>
