<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />    
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>
      Teamate
    </title>

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    
    <%= stylesheet_link_tag "style.css", "960.css"%>
    <%= javascript_include_tag "scripts.js", "jquery-1.5.min.js"%>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
    
</head>
<body id="home">

<%= render 'layouts/header' %>

<div id="content" class="container_12">
  <%= yield %>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
