<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TeaMate</title>
    <meta name="description" content="Project managment app aimed to small development teams.">
    <meta name="author" content="MFH">

    <!-- Sttyles -->
    <%= stylesheet_link_tag "bootstrap.css", "style.css"%>
      
    <!-- Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>  
    <%= javascript_include_tag "scripts.js", "jquery.tablesorter.min.js"%> 
    
    
    <!-- E6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <%= javascript_include_tag "ie.js"%> 
    <![endif]-->
    
    <!-- Fv and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>
<body>
    
    <%= render 'layouts/header' %>

    <div class="container">
        <div class="content">
            <div class="page-header">
                <h1>Fancy page title <small> with short description</small></h1>
            </div>
            <div class="row">
                <div class="span16">
                    <ul class="breadcrumb">
                        <li><a href="#">Fancy</a> <span class="divider">&raquo;</span></li>
                        <li><a href="#">Bread</a> <span class="divider">&raquo;</span></li>
                        <li class="active">Crumbs</li>
                    </ul>
                    <%= yield %>
                </div>
                <!--div class="span4" id="sidebar">
                    <%= render 'layouts/sidebar-menu' %>
                </div-->
            </div>
        </div>

        <%= render 'layouts/footer' %>

    </div> <!-- /container -->

  </body>
</html>
